name: Trigger Infrastructure deploy workflow
on:
  workflow_run:
    workflows: ["Build website"] # Name of GitHub workflow to trigger in target repository
    types:
    - completed

jobs:
  trigger-deploy:
    if: github.event.workflow_run.conclusion == 'success' # Run only when workflow run has succeeded, i.e. all jobs have succeeded
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.INFRA }} # Fine-grained GitHub PAT that was saved as repository secret
          script: |
            try {
              const result = await github.rest.actions.createWorkflowDispatch({
                owner: 'jamespjh',
                repo: 'jh-infrastructure',
                workflow_id: 'deploy_web.yml',
                ref: 'main'
                })     
              console.log(result);
              } 
            catch(error) {
              console.error(error);
              core.setFailed(error);
            }
      - name: Install test dependencies
        run: |
          cd deploy_tests
          pip install virtualenv
          python -m venv test_venv
          source test_venv/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          cd deploy_tests
          source test_venv/bin/activate
          py.test test_web.py  --junitxml=junit/test-results.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: deploy_tests/junit/test-results.xml
          # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
                
